body {
  background-color: #272B30 !important;
  color: #aaa !important;
}

a, a *, a:visited, a:visited * {
  color: #E18728 !important;
  text-decoration: none;
}

.nav-pills .nav-link.active {
  color: #E18728;
  background-color: rgb(0, 98, 204, .2);
  border: 2px solid #E18728;
}

.container, .container-fluid {
}

#pills-assets-tabContent {
  margin-top: 2em;
}

#pills-assets-tab .nav-item .nav-link {
  padding: .2em .5em .3em .5em;
  font-size: 1.5em;
}

/* search asset */
#search-asset {
  background-color: #272B30 !important;
  font-size: 1.25em;
  color: #E18728;
  padding: 1em 1em;
  border-radius: 1.15em;
  border: 1px solid #E18728 !important;
}

#search-asset-button {
  margin-left: -2.75em;
  margin-top: -0.25em;
  z-index: 100;
  color: #E18728;
  font-size: 1.25em;
}

/* asset container */
.asset-cnt {
  margin-bottom: 2em;
  /*border-radius: 1em;*/
  /*box-shadow: #E18728 0px 0px 10px;*/
  /*box-shadow: 0px 0.1em 0.1em, rgba(255, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;*/
}

.asset-cnt > .card > .card-header {
  padding: .25em 1.25em;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 2px solid rgba(0, 0, 0, .25);
}
.asset-cnt > .card > .card-header > img {
  vertical-align: middle;
  width: 3em;
  margin-right: .25em;
  margin-left: -1em;
}

.asset-cnt > .card > .card-header > span.asset-code {
  display: inline-block;
  margin-right: .5em;
  font-size: 1.5em;
  vertical-align: middle;
}
.asset-cnt > .card > .card-header > span.badge {
  vertical-align: sub;
  font-size: 0.9em;
  padding-top: 0.15em;
}
.asset-cnt > .card > .card-body {
  padding: 0 .5em;
}

/* dataTable */
table.dataTable {
  border-collapse: collapse !important;
}

table.dataTable td {
  color: #aaa;
  border-top-width: 0px !important;
}

table.dataTable th, table.dataTable td {
  text-align: right;
  width: 5.5em;
}
table.dataTable thead > tr > th {
  /*text-transform: uppercase !important;*/
  padding-right: 0px !important;
  color: #AA7744;
}

table.dataTable.asset-total {
  margin-bottom: -6px !important;
}
table.dataTable td.num-neg {
  color: #ff647d;
}

table.dataTable td.num-pos {
  color: #44b86a;
}

table.dataTable th:nth-child(1), table tr td:nth-child(1) {
  text-align: left;
/*  text-transform: lowercase;*/
}

table.dataTable > thead > tr > th[class*="sort"]::after, table.dataTable > thead > tr > th[class*="sort"]::before {
  content: "" !important;
  display: none !important;
}

table.dataTable.table-sm > thead > tr > th {
  padding-right: 5px !important;
}

table.dataTables_wrapper table.dataTables_filter label {
  color: #272B30 !important;
  margin-bottom: 0 !important;
}